# Python
__pycache__/
*.py[cod]
*.pyc

# Envs
.env
*.env

# VSCode & IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Local settings
settings.json

# Input / Output images
input_images/
output_images/
images/
*.jpg
*.png

# Jupyter
*.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
